astroid==3.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
dill==0.3.8
dnspython==2.6.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
isort==5.13.2
mccabe==0.7.0
moviepy==1.0.3
numpy==2.0.0
parso==0.8.4
pika==1.3.2
pillow==12.2.0
platformdirs==4.2.2
proglog==0.1.10
pymongo==4.8.0
requests==2.33.1
setuptools==82.0.1
tomlkit==0.13.0
tqdm==4.66.4
urllib3==2.6.3
prometheus-client==0.20.0

waitress
flask-talisman
